mixin video(info)
    a(href=`/videos/${info.id}`).video-mixin 
        div.video-mixin
            div.video-mixin__thumb
            diev.video-mixin__data
                span.video-mixin__title=info.title 
                div.video-mixin__meta
                    span #{info.owner.name} • 
                    if (info.meta.views === 1)
                        span #{info.meta.views} view
                    else
                        span #{info.meta.views} views
            
            