extend ../base.pug

block content 
    video(src="/" + video.fileUrl controls)
    br
    br
    div
        p=video.description
        br
        small=video.createdAt
        br
        br
        small 
            a(href=`/users/${video.owner._id}`) Uploaded by #{video.owner.name}
        br
    if String(video.owner._id) === String(profile._id)
        a(href=`${video.id}/edit`) Edit Video ➡️
        br
        a(href=`${video.id}/delete`) Delete This Video ❌   