extends ../base.pug

block content
    if errorMessage
        h2=errorMessage
    if updateMessage 
        h2=updateMessage
    form(action="", method="post") 
        input(placeholder="Name" name="name", type="text", required value=profile.name)
        input(placeholder="Email" name="email", type="email", required value=profile.email)
        input(placeholder="Username" name="username", type="text", required value=profile.username)
        input(placeholder="Location" name="location", type="text", required value=profile.location)
        input(type="submit", value="Update Profile")
